.root {
    -fx-background-color: transparent;
}

.top, .bottom {
    -fx-background-color: #212F3D;
}

.center {
    -fx-background-color: #ABEBC6;
}

/* 时间标签 */

.currentTimeLabel, .totalTimeLabel {
    -fx-alignment: center;
    -fx-pref-width: 60;
    -fx-text-fill: white;
    -fx-font-size: 18;

}

/* 进度条 */
.progress > .track {
    -fx-background-color: white;
}

.progress > .thumb {
    -fx-background-color: white;
}

.progress > .colored-track {
    -fx-background-color: red;
}

.progress > .animated-thumb {
    -fx-background-color: transparent;
    -fx-pref-width: 1;
    -fx-pref-height: 1;
}

.progress .slider-value {
    -fx-fill: red;
    -fx-stroke: red;
    -fx-font-size: 18;

}

/* 音量条 */
.volume > .track {
    -fx-background-color: grey;
}

.volume > .thumb {
    -fx-background-color: white;
}

.volume > .colored-track {
    -fx-background-color: red;
}

.volume > .animated-thumb {
    -fx-background-color: transparent;
}

.volume .slider-value {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}


/*列表按钮*/
.listBtn StackPane {
    -fx-background-color: white;
}

